{
    "output": "dist/app.phar",

    "main": "bin/python-mcp",

    "directories": [
        "bin",
        "src",
        "config",
        "vendor"
    ],
    "files": [
        "composer.json",
        "composer.lock",
        ".env"
    ],

    "compactors": [
        "KevinGH\\Box\\Compactor\\Php"
    ],

    "compression": "GZ",

    "php-scoper": null

}
